/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	height: 100%;
}
  
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial;
  top: 40px;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  height: 40px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  border: 10px;
  border-color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  box-sizing: border-box;
}
